* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(
    circle,
    rgba(24, 60, 132, 1) 5%,
    rgba(19, 38, 75, 1) 100%
  );
}
